

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: #faf9f8;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;

}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}


.flex-wrapper {
	display: flex;
	justify-content: space-between;
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

.top {
    margin-top: 2%;
    box-sizing: border-box;     
    color: #000;
    height: 55px;
	padding: 14px 14px 14px 50px;
    display: flex;
    align-items: center;
 }    

 .top .left li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
 }

.top .left li{
    margin-right: 20px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}

.top .middle {
    margin-left: 585px;
    margin-top: 65px;
}

.top .middle img{
    width: 180px;
    height: 180px;
}

.top .right{
    margin-left: 1400px;
    position: absolute;
}

.top .right li:nth-child(2){
   position: absolute;
    margin-top: 6px;
    margin-left: -17px;
}

.top .right li:nth-child(3){
    position: absolute;
     margin-left: 55px;
 }

 .top .right li:nth-child(4){
    position: absolute;
     margin-top: 6px;
     margin-left: 90px;
 }

 .top .right li:nth-child(5){
    position: absolute;
    margin-left: 178px;;
 }

 .top .right p{
    margin-top: -23px;
    margin-left: 255px;
}

.top .right a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.top .right img {
    width: auto;
    height: 25px;
}

.top .right  li {
    
    margin-right: 20px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}

.middlee {
    margin-top: 2%;
    box-sizing: border-box;
    color: #000;
    height: 55px;
    padding: 14px 14px 14px 50px;
    align-items: center;
    justify-content: space-between;
 }  

 .middlee .main ul{
    margin-left: 35%;
    margin-top: 2%;
 }
 

 .middlee .main li{
    margin-right: 35px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}

.down ul{
    margin-top: 100px;
    margin-left: 540px;
}

.down  li{
    margin-right: 35px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}

#two{
    margin-top: 50px;
    margin-left:470.500px;
    margin-right: 447.500px;
}

#two  .second p{
    position: absolute;
    margin-left: 730px;
    margin-top: -205px;
    font-size: 27px;
    font-weight: 700;
    background: none;
}


#two .one .thrid{
    position: absolute;
    margin-left: 724px;
    margin-top: -145px;
    color: #000;
    font: 14px "DIN NEXT",sans-serif;
    height: 1.5cm;
    font-size: 25px;
    font-weight: 1000;
    width: 4.3cm;
    background: rgb(250 249 248);
    padding: 19px 20px;
    border-radius: 50px;
}

#three{
    margin-top: 50px;
    margin-left:470.500px;
    margin-right: 447.500px;
}

#three .first img{
    width: 960px;
    height: 535px;
}

#three  .second p{
    position: absolute;
    margin-left: 730px;
    margin-top: -205px;
    font-size: 27px;
    font-weight: 700;
    background: none;
}


#three .one .thrid{
    position: absolute;
    margin-left: 724px;
    margin-top: -145px;
    color: #000;
    font: 14px "DIN NEXT",sans-serif;
    height: 1.5cm;
    font-size: 25px;
    font-weight: 1000;
    width: 4.3cm;
    background: rgb(250 249 248);
    padding: 19px 20px;
    border-radius: 50px;
}

#four footer .span{
    display: grid;
    width: 100%;
    margin-right: 220px;
    margin-top: 70px;
    background: #e4e4e4;
    grid-template-columns: 1fr 1fr ;
}

#four .first{
    margin-left: 447px;
    margin-top: 50px;
    background: #e4e4e4;
}

#four .first .one{
    background: #e4e4e4;
}

#four .first .one p{
    font-size: larger;
    background: #e4e4e4;
    font-weight: 1000;
}

#four .first li{
    padding-top: 15px;
    background: #e4e4e4;
}

#four .first .one ul li p:hover{
    text-decoration: underline;
}

#four .first .one ul li p{
    font-size: medium;
    font-weight: 400;
    background: #e4e4e4;
}

#four .second{
    margin-left: 447px;
    margin-top: 50px;
    background: #e4e4e4;
}

#four .second .one{
    background: #e4e4e4;
    margin-left: -335px;
}

#four .second .one p{
    font-size: larger;
    background: #e4e4e4;
    font-weight: 1000;
}

#four .second li{
    padding-top: 15px;
    background: #e4e4e4;
}

#four .second .one ul li p{
    font-size: medium;
    font-weight: 400;
    background: #e4e4e4;
}

#four .second .one ul li p:hover{
    text-decoration: underline;
}

#four .thrid{
    margin-left: 447px;
    margin-top: 50px;
    background: #e4e4e4;
}

#four .thrid .one{
    background: #e4e4e4;
    margin-left: -335px;
}

#four .fourth{
    background: #e4e4e4;
    padding-top: 21px;
    padding-left: 46%;
}

#four .fourth a svg{
    width: 25px;
    margin-top: 50px;
    margin-left: 35px;
    height: 25px;
    background: #e4e4e4;
}   

#four .fourth a {
    background: #e4e4e4;
}

#four .fifth p{
    background: #e4e4e4;
    font-weight: 100;
    font-size: 12px;
    padding-top: 25px;
    padding-left: 37%;
}

#four .sixth {
    background: #e4e4e4;
    padding-left: 47%;
}

#four .sixth a{
    background: #e4e4e4;
}

#four .sixth img{
    width: 117px;
    height: 117px;
    background: #e4e4e4;
}

#four .sixth p{
        margin-left: 20px;
    background: #e4e4e4;
    padding-bottom: 39px;
}

footer {
    width: 100%;
    background: #e4e4e4;
}

.menu-button, .mobile-nav{
    display: none;
}

/*.mobile-nav {
    display: none0;
    position: absolute;
    top: 0;
    left: 0%;
    width: 1345px;
    height: 1205px;
    background-color: white;
    z-index: 1000;
}

.mobile-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 10% auto;
    text-align: center;
    position: absolute;
    background: none;
}


.mobile-nav ul li{
    margin-bottom: 100px;
    margin-left: 80px;
    background: none;
}


.mobile-nav ul li a{
    display: block;
    text-decoration: none;
    font-size: 1.2em;
}


.mobile-nav ul li a:hover{
    text-decoration: underline;
}


.close-btn{
    display: block;
    position: absolute;
    padding-left: 37px;
    right: -82px;
    color: aliceblue;
    padding-top: 575px;
    padding-bottom: 575px;
    background: rgb(0, 0, 0, 0.8);
    padding-right: 21px;
    font-size: 36px;
}