@media screen and (    
max-width:1440px) {

    .top .right ul{
        margin-left: -420px;

    }

    .top .middle img{
        margin-left: -220px;
    }

    #one .middlee .main {
        margin-left: -70px;
    }

    #one .down ul  {
        margin-left: 350px;
    }

    #two .one,#three .one{
        margin-left: -170px;
    }

    #four footer {
        width: 101%;
    }

}

@media screen and (    
max-width:1214px){

    #one  .down li:nth-child(2){
        margin-left: 250px;
    }

    #one  .down li:nth-child(3){
        display: none;
    }

    #four footer {
        width: 118%;
    }

}

@media screen and (    
max-width:1024px){

    #one .middlee{
    margin-left: 201px;
    width: 87%;
    margin-top: 34px;
    }

    #one .down{
        width: 120%;
    }

    #two .second p {
        width: 29%;
    }

    #four footer {
        width: 142%;
    }

}

@media screen and (    
max-width:360px){   

    *{
        overflow-x: hidden;
    }

    #one .top .left{
        display: none;
    }
#one .menu-button{
    display: block;
    width: 32px;
    margin-left: 15px;
    margin-top: 10px;
}

#one .menu-button img{
    width: 30px;
    height: 40px;
}

#one .middle{
    margin: 0;
    margin-top: -100px;
    position: absolute;
    width: 100px;
}

#one .middle img{
    width: auto;
    margin-left: 0;
    height: 70px;
}

#one .right {
    width: 85px;
    height: 29px;
    margin-left: 217px;
    margin-top: -115px;
    position: absolute;

}

#one .right ul{
       width: 100px;
    height: 29px;
    margin-left: 0;
}

#one .right ul li{
    margin-right: -50px;
}

#one .right ul li:nth-child(5){
    margin-left:88px;
}

#one .right ul li:nth-child(2){
    display: none;
}

#one .right ul li:nth-child(4){
    display: none;
}

#one .right ul li:last-child{
    display: none;
} 

#one .middlee{
    display: none;
}

#one .down {
    width: 345px;;
}

#one .down ul{
    margin-top: 0pc;
    margin-left: 75px;
}

#one .down ul li:nth-child(2){
    display: none;
}

#one .down ul li:last-child{
    display: none;
}

body #two  {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
}

#two .one .first img{
    height: 333px;
    width: 312px;
    margin-left: 195px;
}

#two .one .second p{
    margin-left: 379px;
    margin-top: -143px;
    font-size: 17px;
    width: 97px;
}

#two .one nav.thrid{
    margin-left: 355px;
    margin-top: -100px;
    height: 55px;
    padding: 17px 19px;
    width: 140px;
}

#two .one nav.thrid p{
    font-size: 13px;
    font-weight: 900;
}

body #three  {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
}

#three .one .first img{
    height: 333px;
    width: 312px;
    margin-left: 195px;
}

#three .one .second p{
    margin-left: 410px;
    margin-top: -143px;
    font-size: 17px;
    width: 97px;
}

#three .one nav.thrid{
    margin-left: 355px;
    margin-top: -100px;
    height: 55px;
    padding: 17px 19px;
    width: 140px;
}

#three .one nav.thrid p{
    font-size: 13px;
    font-weight: 900;
}

body #four{
    margin-top: 70px;
}

body #four footer{
    width: 360px;
}

body #four footer .span{
    margin: 0;
}

#four .span .first, #four .second{
    display: none;
}

#four .fourth {
    margin-left: -65px;
    margin-top: -85px;
}

#four .fifth {
    margin-left: -85px;
    width: 395px;
    text-align: center;

}

#four .sixth {
    margin-left: -45px;
}

body #four .thrid{
    margin-left: 0;
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
    background-color: #faf9f8 ;
    z-index: 1000;
}

.mobile-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 10% auto;
    text-align: center;
}


.mobile-nav ul li{
    margin-top: 50px;
}


.mobile-nav ul li a{
    background-color: #faf9f8;
    display: block;
    text-decoration: none;
    font-size: 1.2em;

}


.mobile-nav ul li a:hover{
    text-decoration: underline;
}


.close-btn{
    margin-right: 6%;
    margin-top: 12%;
    color: black;
    font-size: 36px;
    right: 0;
    display: flex;
    position: absolute;
    background-color: #faf9f8;
    align-items: center;
    justify-content: end;
}

}